# Variables d'environnement pour Stripe
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_votre_clé_publique_stripe
STRIPE_SECRET_KEY=sk_test_votre_clé_secrète_stripe
STRIPE_WEBHOOK_SECRET=whsec_votre_secret_webhook_stripe

# Exemple de configuration pour Resend
RESEND_API_KEY=re_FMS3Ust7_2E2hAG5YHCGVmwm4X9sbkwcD
FROM_EMAIL=contact@lapetitevitrine.com
ADMIN_EMAIL=contact@lapetitevitrine.com
